<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="/static/css/style.css">
<head >
    <title>Banterbird</title>
    <script src="/static/js/app.js" defer></script>
</head>
<header> <div class="header">
    <div class="header-right" id = "hello" >
        Logged in as: <strong id="username">anonymous</strong>
    <h1>Banterbird</h1> <a href="#home" id="hello">Home</a>  <a href="#profile"id="hello">Profile</a>
    </div>
  </div></header>
<body>
    <div>
        <h3>New Post</h3>
        <textarea id="postInput" placeholder="What's on your mind?"></textarea><br>
        <button onclick="submitPost()">Tweet</button>
    </div>
    <hr>
    <h3>Feed</h3>
    <div id="feed"></div>

    <template id="post-template">
        <div class="post">
            <p><strong class="username"></strong>: <span class="message"></span></p>
            <small class="timestamp"></small>
            <hr>
        </div>
    </template>
    <script>
        document.getElementById("username").innerText = localStorage.getItem("username");
    </script>
</body>
</html>
