<!DOCTYPE html>
    <html>
            <input id="usernameInput" placeholder="Enter Username"/>
            <button onclick="login()">Login</button>
            <script>
                function login(){
                    const username= document.getElementById('usernameInput').value;
                    if(username.length > 0) {
                        localStorage.setItem('username', username);
                        window.location.href='/';
                    }
                    else {
                        alert("PLEASE ENTER A USERNAME!")
                    }
                }
            </script>
    </html>